.left ul{
    padding-bottom: 20px;
}
.left h4{
    font-size: 16px;
    color:#09f;
    height: 50px;
    line-height: 30px;
    margin: 0px;
    padding: 10px 0px;
}
.left .block{
    background-color: rgba(122,122,122,0);
}
.left ul li{
    margin:0px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color:#333;
    border-bottom: 1px dashed #ccc;
}
.left ul li .title{
    float: left;
}
.left ul li .result{
    float: right;
}
/*线索阶段样式*/
.deals-stage{
    height: 198px;
}
ul.choice_stage {
    width:100%;
    height: 70px;
    padding-top: 40px;
}
ul.choice_stage_word{
    padding-top: 10px;
}
.choice_stage li{
    width:20%;
    height: 24px;
    float: left;
    position: relative;
    cursor: pointer;
    text-align: center;
}
.choice_stage div{
    margin-top: 50px;
}
.choice_stage span{
    float: left;
}
.choice_stage span.line{
    display: inline-block;
    width:50%;
    position: absolute;
    top:50%;
    transform: translateY(-52%);
}
.choice_stage span.left_line{
    padding-right: 13px;
    left:0px;
}
.choice_stage span.right_line{
    padding-left: 13px;
    right:0px;
}
/*.choice_stage li:nth-child(2) span.right_line{*/
    /*padding-left: 17px;*/
    /*right:0px;*/
/*}*/
.choice_stage li:nth-child(3) span.left_line{
    padding-right: 12px;
    left:0px;
}
.choice_stage li:first-child .left_line i{
    border-color: rgba(203, 214, 226,0);
}
.choice_stage li:last-child .right_line i{
    border-color: rgba(203, 214, 226,0);
}
.choice_stage span.line i{
    display: inline-block;
    width:100%;
    border:1px solid rgb(203, 214, 226);
}
.choice_stage .circle .font_icon{
    display: inline-block;
    width:26px;
    height: 26px;
    color:rgb(203, 214, 226);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left:50%;
    margin-left: -13px;
    font-size: 30px;
}
/*.choice_stage li:nth-child(2) .circle .font_icon{*/
    /*display: inline-block;*/
    /*width:36px;*/
    /*height: 36px;*/
    /*color:rgb(203, 214, 226);*/
    /*position: absolute;*/
    /*top:50%;*/
    /*transform: translateY(-50%);*/
    /*left:50%;*/
    /*margin-left: -18px;*/
    /*font-size: 40px;*/
/*}*/
.choice_stage li.active .circle .font_icon,.choice_stage li.active div {
    color:#09f;
}
.choice_stage li:hover .circle{
    border-color:#09f;
}
.choice_stage li:hover .circle .font_icon{
    color:#09f;
}
/*续保跟进样式*/
.form{
    width:482px;
    padding: 0px 15px;
    margin:0px;
}
.form .form-group{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}
.form .col-sm-12{
    padding-left: 0px;
    padding-right: 0px;
}
.tab-block textarea{
    display: inline-block;
    width:100%;
    height: 70px;
    border-top-width: initial;
    border-right-width: initial;
    border-left-width: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    resize: none;
    padding: 0px;
    border-style: none none solid;
    border-image: initial;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding:10px 0px;
}
.tab-block .form-group.no-border{
    border-bottom: none;
}
.tab-block .form .form-group input:focus{
    box-shadow: none;
}
.msg .form .form-group.mgs-content div{
    position: absolute;
    bottom:15px;
    left:420px;
}
.msg .form .form-group.msg-sign span{
    padding-right: 40px;
}
.tab-block .btn-container{
    margin-top: 20px;
}
.tab-block .col-sm-6{
    width:150px !important;
    padding: 0px;
    border-bottom: 1px solid #ccc;
}
.tab-block .col-sm-6.right-note{
    float: right;
    width:260px !important;
}
.tab-block .col-sm-6.left-note{
    width:300px !important;
}
.tab-block .col-sm-6.no-border{
    border-bottom: none;
}
.tab-block select{
    border: none;
    height: 34px;
}
select:focus,input:focus{
    outline: none;
}

.tab-block input{
    border: none;
    box-shadow: none;
}
/**/
.deals-block{
    padding-left: 0px;
}
.tab{
    height: 58px;
    width:100%;
    margin-bottom: 15px;
}
.tab > li {
    float: left;
    height: 58px;
    line-height: 58px;
}
.tab > li a{
    display: inline-block;
    padding: 0px 10px;
    height: 58px;
    line-height: 58px;
    font-size: 18px;
    color:#333;
    border: none;
}
.tab > li a:hover{
    background-color: white;
    border: none;
}
.tab > li.active a{
    border-bottom: 3px solid #09f;
    color:#09f;
}
.tab > li a:link{
    text-decoration: none;
}
.nav-tabs {
    border-bottom: none;
}
/*动态内容的样式*/
.trace-content{
    padding-top: 30px;
    padding-left: 15px;
    width:100%;
    overflow: hidden;
    padding-bottom: 30px;
}
.trace-content ul.trace-content-container{
    width:100%;
    overflow: hidden;
}
.trace-content-container li{
    position: relative;
}
.trace-content-container li span.line{
    position: absolute;
    top:0px;
    bottom:0px;
    left:20px;
    width:1px;
    overflow: hidden;
    background-color: #09f;
    z-index: 1;
}
.trace-content h3,
.trace-content .title-1{
    width: 75%;
    padding-left: 58px;
    line-height: 58px;
}
.trace-content .title-1{
    position: relative;
    height: 58px;
    line-height: 58px;
}
.trace-content .title-1 h3{
    width:67%;
    float: left;
    padding: 0px;
    height:0px;
}
.trace-content .title-1 button{
    float: right;
}
.trace-content .month{
    color:#333;
    font-size: 18px;
    padding-right: 10px;
}
.trace-content .title-1 .s-search-bar{
    position: absolute;
    right:0px;
    top:34px;
    z-index: 2;
    background-color: white;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border-radius: 3px;
    background: #fff;
    display: none;
    width: 180px;
}
.trace-content .title-1 .s-search-bar.active{
    display: block;
}
.trace-content .title-1 form .form-group {
    width: 150px;
}
.s-search-bar .btn-group-right button.ul-form-btn:not(:first-child) {
    margin-left:0px;
    margin-right: 15px;
}
.trace-content .trace-fa{
    color:#ccc;
}
.trace-content .trace-fa:hover{
    color:#333;
}
.trace-content .trace-month-detail{
    width:75%;
    overflow: hidden;
}
.trace-content .trace-list{
    position: relative;
    margin-bottom: 10px;
}
.trace-content .main-content{
    overflow: hidden;
    width:100%;
    padding-left: 55px;
}
.trace-content li:last-child.trace-list{
    margin-bottom: 0px;
}
.trace-content .trace-list-fa{
    display:block;
    position: absolute;
    top:0px;
    left:0px;
    width:40px;
    height: 40px;
    border-radius: 20px;
    background-color: #09f;
    text-align: center;
    line-height: 40px;
    color:white;
    font-size: 18px;
    z-index: 2;
}
.trace-content .no-fa{
    display:block;
    position: absolute;
    top:0px;
    left:0px;
    width:40px;
    height: 40px;
    background-color:rgba(0,0,0,0);
}
.trace-content .trace-left-content{
    float: left;
    padding: 15px 0px;
    padding-left: 15px;
    width:100%;
    background-color: #F7F7F7;
}
.trace-content .trace-first-line{
    height: 20px;
}
.trace-content .trace-first-line div.trace-type{
    float: left;
}
.trace-content .trace-first-line div.time{
    float: right;
    padding-right: 20px;
}
.trace-content .span-blue{
    color:#09f;
    font-size: 14px;
}
.trace-content .trace-default-word{
    padding: 10px;
}
/*模态框的样式*/
.modal-body{
    overflow: hidden;
    background-color: white;
}
.u-main form{
    background-color: white;
    padding-bottom: 0px;
}
.panel-default>.panel-heading{
    background-image:none;
}
.loadMore{
    margin-top: 20px;
    height: 40px;
    text-align: center;
}
.s-search-item input{
    margin-bottom: 10px;
}
/*失败面板的样式*/
.modal-detail-deal .modal-body{
    padding: 50px;
}
.modal-detail-deal .form{
    width:100%;
}
.modal-detail-deal .form .form-group{
    border-bottom: none;
}
.modal-detail-deal .fail-left{
    /*text-align: center;*/
    padding-top: 10px;
}
.fail-left p{
    margin:0px auto;
    width:128px;
    padding-top: 60px;
    text-align: left;
}
.fail-right textarea{
    width:100%;
    border-radius: 5px;
    border-color:#ccc;
    resize:none;
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
}
.fail-right textarea:focus{
    outline: none;
}
.trace-btn,.note-btn{
    margin-left: 10px;
}
.pn-main .pn-section{
    margin-bottom: 20px;
}

