body {
    background-color: #FFF;
    overflow: hidden !important;
    color: #444d58;
    font-family: "Microsoft YaHei" !important;
    background: #eff3f8 !important;
    font-size: 13px;
    line-height: 1.42857143;
    min-height: 700px;
    height: auto;
}
.adminPage a{
    text-decoration: none;
    color:#000;
}
.adminPage a:hover{text-decoration:none;}
.adminPage{
    background: #fff;
    overflow:hidden;
    height: auto;
}
.content{padding:0px 0px;margin-bottom: 30px;}
h3.title{border-top:1px solid #09f;}
div.col-lg-3,div.col-md-3,div.col-sm-3{text-align: center;}
h3 span{
    display: inline-block;
    width:75px;
    font-size:18px;
    border-top:4px solid #09f;
    padding:10px 0px;
    font-weight: 500;
}
.icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border:1px solid #7f7f7f;
    margin:0px auto;
    margin-bottom: 15px;
    position: relative;
    background-color: white;
}
.icon:hover{
    background-color:#09f;
    border:1px solid #09f;
}
.word{
    width: 120px;
    margin:0px auto;
    font-size:16px;
}
.greyWord{
    color:#ccc;
}
.grey{border:1px solid #ccc;}
/*小图标的代码*/
.icon i{
    position: absolute;
    top:18px;
    left:50%;
    width:50px;
    margin-left:-25px;
    color:#09f;
    font-size: 40px;
}
.icon:hover i{color:white;}
.managmentOfRole-icon i{
    top:18px;
    font-size: 45px;
}
.tag-icon i{
    top:15px;
    font-size: 45px;
}
.v-icon i{
    font-size: 35px;
}
.generalSettings{padding-bottom: 20px;}
