
* {
    margin: 0;
    padding: 0;
}

body {
    background: #eff3f8;
    min-height: 800px;
    height: auto;
}

.left-section {
    padding: 0;
    float: left;
    width: 300px;
    margin-right: -300px;
}

.right-section {
    padding: 0 0 0 20px;
    width: 100%;
    padding-left: 320px;
    float: right;
    padding-bottom: 100px;
}

.g-main {
    background-color: #fff;
}

    .g-main .group-nav {
        border: none;
    }

        .g-main .group-nav li[role=presentation] a {
            border: none;
            color: #333;
            height: 2.9rem;
            line-height: 1.9rem;
            font-size: 0.9rem;
        }

        .g-main .group-nav li[role=presentation]:not(.actvie) a:hover {
            border: none;
            background-color: #fff;
            color: #09f;
        }

        .g-main .group-nav li[role=presentation] a span.title {
            letter-spacing: 0.1rem;
        }

        .g-main .group-nav li[role=presentation] a span.badge {
            vertical-align: middle;
            margin-bottom: 5px;
            color: #fff;
            background-color: #09f;
        }

        .g-main .group-nav li[role=presentation].active a {
            border: none;
            border-bottom: 3px solid #09f;
            color: #09f;
        }

            .g-main .group-nav li[role=presentation].active a:hover {
                border: none;
                border-bottom: 3px solid #09f;
                color: #09f;
            }

    .g-main .tab-content .tab-pane {
        min-height: 300px;
        padding: 0 5px;
    }

        .g-main .tab-content .tab-pane #g_analysis {
            padding: 0 15px 10px 15px;
        }

            .g-main .tab-content .tab-pane #g_analysis .report-select {
                width: 200px;
                display: inline-block;
            }

            .g-main .tab-content .tab-pane #g_analysis .report-tool {
                float: right;
            }

            .g-main .tab-content .tab-pane #g_analysis .report-body {
                padding-bottom: 50px;
            }

                .g-main .tab-content .tab-pane #g_analysis .report-body .r-report {
                    height: 400px;
                    margin-top: 20px;
                }

        .g-main .tab-content .tab-pane#g-rule {
            padding: 15px 20px 50px 20px;
        }

            .g-main .tab-content .tab-pane#g-rule .auto-condition-container {
                padding-left: 20px;
            }

.con-type {
    padding: 4px 0;
}

    .con-type a {
        display: inline-block;
        text-align: center;
        cursor: pointer;
        margin-right: 15px;
    }

        .con-type a:hover {
            text-decoration: none;
        }

        .con-type a input.blueRadio {
            margin: 0;
            vertical-align: middle;
            pointer-events: none;
            margin-right: 4px;
            margin-bottom: 3px;
        }

.g-con-add a {
    cursor: pointer;
}

    .g-con-add a:hover {
        text-decoration: none;
    }

    .g-con-add a span {
        margin-right: 5px;
    }


.g-condition .g-con-group {
    margin-bottom: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .g-condition .g-con-group .dropdown {
        display: inline-block;
    }

        .g-condition .g-con-group .dropdown.border {
            border-right: 1px solid #ccc;
        }

        .g-condition .g-con-group .dropdown .g-con-btn {
            height: 1.5rem;
            padding: 0.3rem 0.5rem;
            font-size: 0.65rem;
            color: #555;
            border: none;
            background: none;
        }

            .g-condition .g-con-group .dropdown .g-con-btn:hover {
                color: #000;
            }

    .g-condition .g-con-group .p-value-container {
        display: inline-block;
        vertical-align: middle;
    }

        .g-condition .g-con-group .p-value-container input {
            padding: 0 0 0 8px;
            width: 110px;
            display: inline-block;
            border: none;
        }

            .g-condition .g-con-group .p-value-container input.small {
                width: 50px;
            }

            .g-condition .g-con-group .p-value-container input.stext {
                border-radius: 4px 0 0 4px;
            }

        .g-condition .g-con-group .p-value-container select {
            display: inline-block;
            padding: 0 0 0 4px;
            border: none;
        }

            .g-condition .g-con-group .p-value-container select.small {
                width: 60px;
            }

            .g-condition .g-con-group .p-value-container select.stext {
                border-radius: 0 4px 4px 0;
            }

.g-condition .con-remove {
    font-size: 18px;
    color: red;
    cursor: pointer;
    vertical-align: middle;
    display: none;
    margin-left: 10px;
}

.g-condition li:hover .con-remove {
    display: inline-block;
}

.g-condition .g-con-ul {
    padding: 0;
    list-style-type: none;
    margin-bottom: 0;
}

    .g-condition .g-con-ul ul li .con-col {
        cursor: pointer;
    }

    .g-condition .g-con-ul ul li .p-con-type {
        cursor: pointer;
    }

.regular-async {
    cursor: pointer;
}

    .regular-async:hover {
        text-decoration: none;
    }

    .regular-async input.blueCheckbox {
        margin: 0;
        vertical-align: middle;
        pointer-events: none;
        margin-right: 4px;
        margin-bottom: 3px;
    }

label span.e-star {
    color: #f66;
    position: absolute;
    font-size: 20px;
    margin-left: 3px;
    line-height: 24px;
}
