
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    color: #444d58;
    font-family: "Microsoft YaHei" !important;
    font-size: 13px;
    line-height: 1.42857143;
    padding-bottom: 240px;
}

a {
    color: #5b9bd1;
}

    a, a:hover {
        text-decoration: none;
    }

#mainArea {
    padding: 15px 50px 50px 50px;
    min-height: 850px;
    height: auto;
    background-color: #fff;
}

.table-no-wrap td, .table-no-wrap th {
    word-break: keep-all;
    white-space: nowrap;
}

.input-cr {
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin-top: -2px !important;
}

/*disableBtn*/
.input-disabled {
    pointer-events: none;
    cursor: default;
    color: #dcdcdc !important;
}

.control-disabled {
    pointer-events: none;
    cursor: default;
    background-color: #dcdcdc !important;
}

.control-hidden {
    display: none !important;
}

.control-rich-text {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
}

.list-check-box-item {
    text-align: center;
    width: 50px;
    padding-top: 5px;
}

.editListFieldControlHidden {
    display: none;
}

.groupListNewRow {
    display: none;
}

.group-section nav {
    margin-bottom: 5px;
}

.group-section .detail-main-nav {
    margin-bottom: 0;
}

.group-section .group-section-list table th {
    text-align: center;
}

.group-section .group-section-list table td {
    text-align: center;
    vertical-align: middle;
}

.groupEditBtnGroup {
    max-width: 100px;
}

    .groupEditBtnGroup button {
        margin: 0 4px;
    }

.editControlTd {
    min-width: 160px;
}

.group-table-hint-container {
    min-width: 210px;
}

.group-table-hint {
    display: inline-block;
}

    .group-table-hint span {
        display: inline-block;
        width: 20px;
        height: 16px;
        margin-right: 4px;
        vertical-align: text-bottom;
    }

    .group-table-hint .success {
        background-color: #dff0d8;
    }

    .group-table-hint .info {
        background-color: #d9edf7;
    }

    .group-table-hint .warning {
        background-color: #fcf8e3;
    }

    .group-table-hint .danger {
        background-color: #f2dede;
    }
/*print*/
.print-container {
    display: none;
}

.print-table {
    width: 100%;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}

    .print-table th {
        padding: 5px 8px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    .print-table td {
        padding: 5px 8px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
    }

/*Pagination*/
.pageForm {
    margin: 8px 0;
}

.pageInput {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid #eee;
    display: inline-block;
    vertical-align: middle;
}

.pageButton {
    padding: 3px 14px;
    height: 30px;
    line-height: 14px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    background: #006063;
    background: #eee;
    border-color: #eee;
    color: #333;
    font-size: 13px;
}

    .pageButton:hover {
        background: #ccc;
        border-color: #ccc;
        color: #FFFFFF;
    }

.pageInput {
    width: 3.5em;
    height: 25px;
    box-shadow: inset 1px 2px 1px #000000;
    box-shadow: inset 1px 2px 1px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    border: solid 1px #006063;
    margin-right: 5px;
    text-align: center;
    line-height: 1.5em;
}

.pageLabel {
    position: absolute;
    left: -9999em;
}

.pageSkip {
    display: inline-block;
    background: transparent url('../../Content/images/left_small.png') no-repeat -10px -10px;
    text-indent: -999em;
    background-size: 40px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: -2px 7px 0 2px;
    margin-bottom: 4px;
}

.pageNext {
    display: inline-block;
    background: transparent url('../../Content/images/right_small.png') no-repeat -10px -10px;
    text-indent: -999em;
    background-size: 40px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: -2px 2px 4px 7px;
}

.pagination {
    width: 100%;
    text-align: center;
    -moz-user-select: -moz-none;
    user-select: none;
    margin: 0;
    font-size: 18px;
    border-radius: 0 0 6px 6px;
}

.pagenum {
    font-size: 16px;
    color: #333;
    margin: 0 5px;
    line-height: 21px;
    vertical-align: text-top;
}

.base {
    background-color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    height: 100px;
    width: 160px;
    text-align: center;
    vertical-align: middle;
}

.arrow-right {
    width: 30%;
    cursor: pointer;
    background-color: #eee;
    border-radius: 0 6px 6px 0;
}

    .arrow-right:hover {
        background-color: #ccc;
    }

.arrow-left {
    width: 30%;
    cursor: pointer;
    background-color: #eee;
    border-radius: 7px 0 0 7px;
    box-sizing: border-box;
}

    .arrow-left:hover {
        background-color: #ccc;
    }

[disabled].form-control, [readonly].form-control, fieldset[disabled] .form-control {
    cursor: not-allowed;
}

input[name=modalListRadio], input[name=selectListCheckbox], input[name=modalListCheckbox] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.detailTextarea {
    min-height: 110px;
    resize: vertical;
}

.clear {
    clear: both;
}


.pictureprogress {
    display: none;
    width: 80px;
    height: 16px;
    vertical-align: bottom;
    margin-bottom: 0;
    color: white;
    margin-left: 8px;
}

.img-file {
    margin-left: 8px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: bottom;
}

    .img-file input[type=file] {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 100px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.file-upload {
    margin-left: 8px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: bottom;
}

    .file-upload input[type=file] {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 100px;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.file-download {
    margin-left: 10px;
    cursor: pointer;
    vertical-align: bottom;
}

.help-block {
    position: absolute;
    margin-top: 0;
}

.primary-content {
    margin-bottom: 15px;
}

.extra-content .details {
    padding: 10px 10px 10px 0;
    float: left;
}

.extra-content .table_tr {
    width: 100%;
    background-color: #FDFDFD;
    cursor: pointer;
    height: 87px;
    box-sizing: border-box;
    border-bottom: 3px solid #fff;
    margin-bottom: 4px;
}



.extra-content .pic-td {
    padding-left: 20px;
    width: 10%;
}

    .extra-content .pic-td div {
        line-height: 50px;
        text-align: center;
        font-size: 22px;
        background: url(../../Content/Image/headBack.png) no-repeat;
        background-size: cover;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        color: #fff;
        font-weight: bold;
    }

.extra-content .title-td {
    width: 50%;
}

    .extra-content .title-td div:first-child {
        padding-left: 15px;
        text-align: left;
    }

.extra-content .icon-td {
    width: 20%;
}

.extra-content .last-td {
    width: 40%;
    text-align: left;
}

.extra-content .table_tr:hover {
    width: 100%;
    background-color: #f6f6f6;
}

.extra-content .table_tr .blue_no {
    width: 20px;
}

.extra-content .table_tr .headpic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #ffffff;
    color: rgba(255,255,255,0.8);
    background-size: 100%;
}

.extra-content .table_tr .tr_title {
    margin-top: 0;
    margin-bottom: 3px;
    font-size: 14px;
}

.extra-content .table_tr .response {
    color: #999;
    background-color: #FCF;
    width: 120px;
    text-align: center;
    padding: 4px 0 4px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    height: 36px;
    margin-top: 27px;
    font-weight: bold;
    line-height: 28px;
}

.extra-content .table_tr .last_td {
    margin-bottom: -5px;
}

    .extra-content .table_tr .last_td li {
        list-style-type: none;
    }

.extra-content .footer {
    background-color: #eee;
    border-radius: 0 0 6px 6px;
    text-align: center;
    height: 15px;
}

.extra-content .table_tr .blue {
    width: 10px;
    background-color: #3598DC;
    height: 100%;
}

.extra-content .table_tr .blue_after {
    width: 10px;
}

.extra-content .table_tr .overdue {
    color: #FFF;
    background-color: #F36;
    width: 120px;
    text-align: center;
    padding: 4px 0 4px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.list-title {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 8px;
    float: left;
    text-align: left;
    border-radius: 3px;
    padding-left: 20px;
}

.detail-list {
    margin: 0;
}

input[name=list-item] {
    height: 15px;
    width: 15px;
}

.control-search-form {
    margin-bottom: 0;
}

.pageCountCalText {
    font-size: 14px;
}


.checkAll {
    vertical-align: middle;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.border-input-focus {
    border: 1px solid #87cefa;
}

.border-span-focus {
    border: 1px solid #87cefa;
    border-right: none;
}

#debtsList_body .input-after {
    text-decoration: underline;
    padding: 0 10px;
}

#debtsList_body table {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: 100%;
}

#debtsList_body th, #debtsList_body td {
    text-align: center;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 6px 0;
}

#debtsList_body .debts-list-title {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

    #debtsList_body .debts-list-title span {
        font-size: 24px;
        font-weight: bold;
    }
