* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    background-color:#eff3f8;
}

body {
    font-family: "Microsoft YaHei" !important;
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height:100%;
    margin: 0 auto;
    padding: 0px 40px;
    margin-top:20px;
}
.container .row{
    width:100%;
    height:100%;
    margin:0px;
    position: relative;
}
.right-pane {
    width:100%;
    padding: 0px;
    padding-left: 320px;
    height: 640px;
}
.form-container{
    width:100%;
    padding: 26px 15px;
    padding-left: 64px;
    background-color: white;
}
#bindWX .form-container{
    height: 344px;
}
.form{
    width:470px;
}
h2{
    font-size: 18px;
    color:#333;
}
.leftContent{
    position: absolute;
    top:0px;
    left:0px;
    background-color: #fff;
    width:300px;
    z-index: 999;
}
h3.title {
    width: 96px;
}

#avatarSec {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: relative;
}

#avatarSec .btn {
    position: absolute;
    top:26px;
    padding:0px;
    width:100px;
    height: 100px;
    color: #09f;
}

#avatarSec img {
    width: 100px;
    height:100px;
    margin: 26px auto;
    margin-bottom:0px;
    text-align: center;
    border-radius: 5px;
}
#avatarSec span{
    display:block;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}
.left-pane ul{margin-top: 40px;margin-bottom: 26px;}
.left-pane ul li {
    list-style: none;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    color: #09f;
}
.left-pane ul li.current {
    color: #06c;
}
.form .btnGroup{
    width:100%;
    text-align: right;
    padding-bottom: 0px;
}
.form-control-static{padding-top: 0px;}
.infoBtn {
    width: 80px;
    height: 32px;
    padding: 7px 20px;
    font-size: 14px;
    line-height: 16px;
    color: white;
    background-color: #09f;
    border-color: #09f;
}
.infoBtn:hover {
    background-color: #1192cb;
    border-color: #1192cb;
    color: white;
}
/*绑定微信的样式*/
.unbindStatus .img{
    display: none;
}
#bindWX{
    text-align: center;
    font-size: 16px;
    color:#555;
}
#bindWX p{
    text-align: center;
}
#bindWX .unbind{
    cursor: pointer;
    margin-left: 30px;
}
#bindWX .unbind,
#bindWX p span{
    color:#09f;
}
#bindWX p.img{
    margin:26px auto;
    width: 200px;
    height: 200px;
    margin-bottom: 0px;
}
#bindWX p.img img{
    width:100%;
    height:100%;
}
#modalBindWX .modal-dialog,#modalUnBindWX .modal-dialog{
    margin:200px auto;
}
#modalBindWX .modal-dialog{
    width:260px;
}
#modalBindWX .modal-body{
    text-align: center;
    padding-bottom: 35px;
}
#modalBindWX .modal-header{
    border-bottom: none;
}
#modalBindWX .modal-body .wx_mobile_qr{
    width:150px;
    height: 150px;
    margin:20px auto;
}
.bgImg{
    background: url("../../Content/Image/resetPswBg.png") no-repeat;
    height:55px;
    width:154px;
    margin-bottom:30px !important;
    border-right:5px;
}
.yizhang{
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}
.bgWord{
    width:154px;
    padding: 10px;
    color:white;
}
.bgWord label{
    margin-bottom:0px;
    padding: 0px;
    color:white;
    font-size: 14px;
}
.bgWord p{
    font-weight: 700;
    font-size: 16px;
}
.modal-body p{
    line-height: 30px;
}
.wrong-msg{
    float: left;
    color:#c33;
    font-size: 12px;
}
.fa{
    padding-right: 10px;
}

